.popup__button_type_close {
  position: absolute;
  top: -40px;
  right: -40px;
  display: block;
  text-decoration: none;
  color: #FFFFFF;
  background-color: transparent;
  transition: .2s;
  background-image: url("../../../../image/CloseIcon.svg");
  object-fit: cover;
  min-width: 32px;
  min-height: 32px;
  background-size: contain;

}

@media screen and (max-width: 500px) {
  .popup__button_type_close {
    top: -40px;
    right: 0;
    font-size: 30px;
    min-width: 20px;
    min-height: 20px;

  }
}

.popup__button_type_close:hover {
  opacity: 0.6;
  cursor: pointer;
}