.profile__image {
    width: auto;
    height: auto;
    margin: auto;
}

@media screen and (max-width: 768px) {
    .profile__image {
        width: 7.5px;
        height: 7.5px;
        margin: 5.25px;
    }
}