.profile__addButton_active{
    margin: 0;
    padding: 0;
    max-width: 282px;
    width: 100%;
    height: 50px; 
    background-image: url(../../../../image/AddButton.svg);
    background-position: center;
    background-repeat: no-repeat;
    border: 2px solid #FFFFFF;
    transition: 0.2s;
    outline: none;
}

@media screen and (max-width: 968px) {
    .profile__addButton_active {
        width: 100%;
        max-width: 282px;
    }
}

.profile__addButton_active:hover {
    opacity: 0.6;
    cursor: pointer;
}