.popup__input {
    border: none;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.94px;
    outline-color: #e108e8;
    margin-bottom: 27px;
    height: 27px;
    border-bottom: 1px solid rgb(0,0,0, 0.2);

}

@media screen and (max-width: 500px) {
    .popup__input {
        margin: 0 0 13px;
        padding: 0;
        max-width: 238px;
    }
}