.popup__container {
    position: relative;
    background: #FFFFFF;
    max-width: 430px;
    border-radius: 10px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0; 
    cursor: default;
    margin: auto;
    outline: none;
    transition: all 5s ease-in-out;
}

@media screen and (max-width: 320px) {
    .popup__container {
        max-width: 282px;
        padding: 25px 22px;
    }
}