.profile{
    width:68.75%;
    padding: 0;
    margin: 40px 200px 51px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 880px;
    min-height: 120px;
}

@media screen and (max-width: 968px) {
    .profile{
        width:88% 
    }
}

@media screen and (max-width: 620px) {
    .profile{
        flex-direction: column;
    }
}