.profile {
    width: 68.75%;
    padding: 0;
    margin: 0 auto 51px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 880px;
}

@media screen and (max-width: 968px) {
    .profile {
        flex-direction: column;
        width: 88.125%;
        max-width: 282px;
        margin: 0 auto 36px;
    }
}