/* .popup__button{
    font-size: 18px;
    font-weight: 400;
    line-height: 21.78px;
    background-color: #000000;
    color: #fff;
    border: none;
    max-width: 358px;
    min-height: 50px;
    transition: 0.2s;
    outline: none;
    margin-bottom: 36px;
  }
  
  .popup__button:hover {
    opacity: .8;
    cursor: pointer;
  }
  
  @media screen and (max-width: 320px) {
    .popup__button {
      font-size: 14px;
      line-height: 17px;
      max-height: 46px;
      max-width: 238px;
    }
  } */
  .popup__button {
    background: none;
    box-shadow: none;
    border: none;
    outline: none;
    font-size: 18px;
    font-weight: 400;
    line-height: 21.78px;
    background-color: white;
    min-height: 50px;
    max-width: 358px;

    
    padding: 0;
    margin: 0;
  }
  
  .popup__btn:hover {
    cursor: pointer;
    opacity: .8;
  }