.header__logo{
    background-image: url(../../../image/logo.svg);
    background-size: cover;
    height: 33px ;
    width: 142px;
    padding: 0;
    margin-bottom: 41px;
}
@media screen and (max-width: 320px) {
    .header__logo{
        margin-left: 27px;
        margin-bottom: 31.6px;
    }
}