.element__button {
    padding: 0;
    border: none;
    width: 22px;
    height: 19px;
    background-image: url(../../../image/AddButton.jpg);
    background-color: transparent;
    outline: none;
    transition: 0.2s;

}

.element__button:hover {
    opacity: 0.6;
    cursor: pointer;
    /* background-image: url(../../../image/button_hover.svg); */
}