.elements_conteiner {
    margin: 51px auto 67px;
    max-width: 888px;
    width: 68.75%
}

@media screen and (max-width: 320px) {
    .elements_conteiner {
        margin: 36px auto 48px;
        width: 88.125%;
    }
}