.profile__editButton {
  width: 24px;
  height: 24px;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 768px) {
  .profile__editButton {
    width: 18px;
    height: 18px;
  }
}

.profile__editButton:hover {
  opacity: 0.6;
  cursor: pointer;
}