.element__remove-button {
        padding: 0;
        width: 22px;
        height: 19px;
        background-image: url(../../../../image/button\ active.svg);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        border: none;
        background-color: transparent;
        transition: 0.2s;
        position: absolute;
        top: 18px;
        right: 15px;
        outline: none;
    }

    .element__remove-button:hover {
        opacity: 0.6;
        cursor: pointer;
    }
